.groupCard {
  width: 50%;
  height: 50%;
  margin-left: 20rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  background: #001f8b;
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  top: 0;
  z-index: 10;
}

.initials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.shareGroupImg {
  position: absolute;
  right: 3rem;
  width: 1.5rem;
  height: 1.2rem;
  cursor: pointer;
}

.shareNoteImg {
  position: relative;
  right: 5rem;
  width: 1.5rem;
  height: 1.2rem;
  cursor: pointer;
}

.groupName {
  font-size: 20px;
}

.notesContainer {
  flex-grow: 1;
  background: #dae5f5;
  padding: 10px;
  overflow-y: auto;
}

.noteCard {
  height: 5rem;
  background: white;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.noteContent {
  flex-grow: 1;
}

.noteDate {
  display: flex;
  align-self: flex-end;
  font-size: 12px;
  color: gray;
}

.bulletList {
  margin: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #353535;
}
